@page
@model GolfClub.Pages.Members.IndexModel

@{
    <h1>Members list</h1>
}

<form method="get">
    <label for="sort">Sort by:</label>
    <select id="sort" name="sort">
        <option value="name">Name</option>
        <option value="age">Gender</option>
        <option value="handicap">Handicap</option>
    </select>
    <button type="submit">Sort</button>
</form>

<p>
    <a asp-page="Create">Add member</a>
</p>
<div class="row">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Member[0].Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Member[0].Email)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Member[0].Gender)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Member[0].Handicap)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Member)
                        {

                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Gender)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Handicap)
                                </td>
                                <td>
                                    <a asp-page="./Edit" asp-route-id="@item.MemberId">Edit</a> |
                                    <a asp-page="./Details" asp-route-id="@item.MemberId">Details</a> |
                                    <a asp-page="./Delete" asp-route-id="@item.MemberId">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card mx-auto" style="width: 15rem;">
            <img class="card-img-top" src="~/images/index.jpg" alt="">
        </div>
    </div>
</div>